html {
  min-height: 100%;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(180deg, #00537E, #3AA17E);
}

#content {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
